{% extends "base.html" %}
{% block title %}Главная{% endblock %}


{% block content %}


{% include 'nav.html' %}


<div class="container mb-4">
    <h3>👋 {{ user.first_name }}</h3>
    {% if user.is_staff %}

    <p style="margin-top: 1rem">
        <a class="btn btn-primary btn-lg btn-block" href="/admin/" role="button"><i
                class="bi bi-box-arrow-in-right"></i>
            Перейти в админ-панель</a>

        <a class="btn btn-success btn-lg btn-block" href="{% url 'get_csv' 1 %}" role="button"><i
                class="bi bi-download"></i></i>
            Скачать результаты 1 тура (CSV)</a>


        <a class="btn btn-success btn-lg btn-block" href="{% url 'get_results' 2 %}" role="button"><i
                class="bi bi-download"></i></i>
            Результаты 2 тура</a>

    </p>
    {% else %}

    <p>Приветствуем вас на олимпиаде!</p>
    {% endif %}
</div>

<div class="container">
    <!--         олимпиада 1 прошла-->
    <!--        {{ olimp1_finished.0 }}-->
    <!--        прямо сейчас проводится олимпиада 1-->
    <!--        {{ olimp1_work.0 }}-->
    <!--        ждёт начала-->
    <!--        {{ olimp1_waiting_to_begin.0.end_time | date:"c" }}-->

    {% if not olimp1_finished and not olimp1_work and not olimp1_waiting_to_begin %}
    <h2>На сайте нет олимпиад 1 тура.</h2>
    {% else %}
    <h4>1 тур</h4>

    <!--         олимпиада 1 прошла-->
    {% if olimp1_finished %}
    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp1_finished.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover; filter: brightness(35%);">
        <div class="card-body">
            <h5 class="card-title">{{ olimp1_finished.0.title }}</h5>
            <p class="card-text">{{ olimp1_finished.0.description }}
                <br><br>
                Вы верно решили {{olimp1_count_tasks_solve_correct}} из {{olimp1_count_tasks}} задания(ий)
            </p>
            <button type="button" class="btn btn-outline-danger" disabled><i class="bi bi-lock-fill"></i> Олимпиада
                завершена
            </button>
        </div>
    </div>
    {% endif %}

    <!--        прямо сейчас проводится олимпиада 1-->
    {% if olimp1_work %}

    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp1_work.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ olimp1_work.0.title }}</h5>
            <p class="card-text">{{ olimp1_work.0.description }}<br>
            <div id="count_close"></div>
            </p>
            {% if olimp1_work.0.end_time == timetracker.end_time or timetracker == None %}

            {% if first_task %}
            <!--                        есть первое задание в олимпиаде-->
            <a href="{% url 'task' olimp1_work.0.pk first_task.pk %}" class="btn btn-outline-primary"><i
                    class="bi bi-unlock-fill"></i> Перейти к олимпиаде</a>

            {% else %}
            <!--                 нет задания       -->
            <button type="button" class="btn btn-outline-secondary" disabled><i class="bi bi-lock-fill"></i> В олимпиаде
                0 заданий
            </button>
            {% endif %}

            {% else %}
            <button type="button" class="btn btn-outline-danger" disabled><i class="bi bi-lock-fill"></i> Вы досрочно
                завершили олимпиаду
            </button>
            {% endif %}
            <!--                        }    % url 'olimp' olimp1_work.0.pk %      {               -->
        </div>
    </div>


    <script>
        let time = {{olimp1_work_to_end_seconds}};
        const countDownEl = document.getElementById("count_close");
        updateCountdown();
        setInterval(updateCountdown, 1000);

        function updateCountdown() {
            if (time != -1) {
                let hours = Math.floor(time / 3600);
                let minutes = Math.floor((time - hours * 3600) / 60);
                let seconds = Math.floor((time - hours * 3600) - minutes * 60);

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                if (time > 300) {
                    countDownEl.innerHTML =
                        `Закроется через <span class="badge badge-info" >${hours}:${minutes}:${seconds}</span>`;
                } else {
                    countDownEl.innerHTML =
                        `Закроется через <span class="badge badge-danger" >${hours}:${minutes}:${seconds}</span>`;
                }
                time--;
            } else {
                window.location.reload();
            }
        }

    </script>
    {% endif %}

    <!--        ждёт начала-->
    {% if olimp1_waiting_to_begin %}
    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp1_waiting_to_begin.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover; filter: brightness(35%);">
        <div class="card-body">
            <h5 class="card-title">{{ olimp1_waiting_to_begin.0.title }}</h5>
            <p class="card-text">{{ olimp1_waiting_to_begin.0.description }}</p>
            <button type="button" class="btn btn-outline-primary" disabled id="count_open"></button>
        </div>
    </div>


    <script>
        let time = {{olimp1_waiting_to_begin_seconds}};
        const countDownEl = document.getElementById("count_open");
        updateCountdown();
        setInterval(updateCountdown, 1000);

        function updateCountdown() {
            if (time != -1) {
                let hours = Math.floor(time / 3600);
                let minutes = Math.floor((time - hours * 3600) / 60);
                let seconds = Math.floor((time - hours * 3600) - minutes * 60);

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                countDownEl.innerHTML =
                    `<i class="bi bi-calendar-event"></i> Откроется через ${hours}:${minutes}:${seconds}`;
                time--;
            } else {
                window.location.reload();
            }
        }

    </script>

    {% endif %}


    {% endif %}


    {% if not olimp2_finished and not olimp2_work and not olimp2_waiting_to_begin %}
    <br>
    <hr>
    <h2>На сайте нет олимпиад 2 тура.</h2>
    {% else %}
    <h4>2 тур</h4>

    <!--         олимпиада 2 прошла-->
    {% if olimp2_finished %}
    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp2_finished.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover; filter: brightness(35%);">
        <div class="card-body">
            <h5 class="card-title">{{ olimp2_finished.0.title }}</h5>
            <p class="card-text">{{ olimp2_finished.0.description }}
                <br><br>
                Вы верно решили {{olimp2_count_tasks_solve_correct}} из {{olimp2_count_tasks}} задания(ий)
            </p>

            <button type="button" class="btn btn-outline-danger" disabled><i class="bi bi-lock-fill"></i> Олимпиада
                завершена
            </button>
        </div>
    </div>
    {% endif %}


    <!--        прямо сейчас проводится олимпиада 2-->
    {% if olimp2_work %}

    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp2_work.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ olimp2_work.0.title }}</h5>
            <p class="card-text">{{ olimp2_work.0.description }}<br>
            <div id="count_close2"></div>
            </p>
            {% if olimp2_work.0.end_time == timetracker_olimp2.end_time or timetracker_olimp2 == None %}

            {% if first_task_olimp2 %}
            <!--                        есть первое задание в олимпиаде-->
            <a href="{% url 'task2' olimp2_work.0.pk first_task_olimp2.pk %}" class="btn btn-outline-primary"><i
                    class="bi bi-unlock-fill"></i> Перейти к олимпиаде</a>

            {% else %}
            <!--                 нет задания       -->
            <button type="button" class="btn btn-outline-secondary" disabled><i class="bi bi-lock-fill"></i> В олимпиаде
                0 заданий
            </button>
            {% endif %}

            {% else %}
            <button type="button" class="btn btn-outline-danger" disabled><i class="bi bi-lock-fill"></i> Вы досрочно
                завершили олимпиаду
            </button>
            {% endif %}
            <!--                        }    % url 'olimp' olimp1_work.0.pk %      {               -->
        </div>
    </div>


    <script>
        let time_2 = {{olimp2_work_to_end_seconds}};
        const countDownEl_2 = document.getElementById("count_close2");
        updateCountdown_2();
        setInterval(updateCountdown_2, 1000);

        function updateCountdown_2() {
            if (time_2 != -1) {
                let hours_2 = Math.floor(time_2 / 3600);
                let minutes_2 = Math.floor((time_2 - hours_2 * 3600) / 60);
                let seconds_2 = Math.floor((time_2 - hours_2 * 3600) - minutes_2 * 60);

                hours_2 = hours_2 < 10 ? "0" + hours_2 : hours_2;
                minutes_2 = minutes_2 < 10 ? "0" + minutes_2 : minutes_2;
                seconds_2 = seconds_2 < 10 ? "0" + seconds_2 : seconds_2;

                if (time_2 > 300) {
                    countDownEl_2.innerHTML =
                        `Закроется через <span class="badge badge-info">${hours_2}:${minutes_2}:${seconds_2}</span>`;
                } else {
                    countDownEl_2.innerHTML =
                        `Закроется через <span class="badge badge-danger">${hours_2}:${minutes_2}:${seconds_2}</span>`;
                }
                time_2--;
            } else {
                window.location.reload();
            }
        }

    </script>

    {% endif %}


    <!--        ждёт начала-->
    {% if olimp2_waiting_to_begin %}

    <div class="card shadow-sm" style="margin-bottom: 1rem">
        <img class="card-img-top" src="{{ olimp2_waiting_to_begin.0.image_url }}"
             style="width: 100%; height: 12rem; object-fit: cover; filter: brightness(35%);">
        <div class="card-body">
            <h5 class="card-title">{{ olimp2_waiting_to_begin.0.title }}</h5>
            <p class="card-text">{{ olimp2_waiting_to_begin.0.description }}</p>
            <button type="button" class="btn btn-outline-primary" disabled id="count_open2"></button>
        </div>
    </div>


    <script>
        let time_2 = {{olimp2_waiting_to_begin_seconds}};
        const countDownEl_2 = document.getElementById("count_open2");
        updateCountdown_2();
        setInterval(updateCountdown_2, 1000);

        function updateCountdown_2() {
            if (time_2 != -1) {
                let hours_2 = Math.floor(time_2 / 3600);
                let minutes_2 = Math.floor((time_2 - hours_2 * 3600) / 60);
                let seconds_2 = Math.floor((time_2 - hours_2 * 3600) - minutes_2 * 60);

                hours_2 = hours_2 < 10 ? "0" + hours_2 : hours_2;
                minutes_2 = minutes_2 < 10 ? "0" + minutes_2 : minutes_2;
                seconds_2 = seconds_2 < 10 ? "0" + seconds_2 : seconds_2;

                countDownEl_2.innerHTML =
                    `<i class="bi bi-calendar-event"></i> Откроется через ${hours_2}:${minutes_2}:${seconds_2}`;
                time_2--;
            } else {
                window.location.reload();
            }
        }

    </script>

    {% endif %}


    {% endif %}


</div>


{% endblock %}