{% extends "base.html" %}
{% block title %}Квест "{{ quiz }}"{% endblock %}
{% load static %}

{% block content %}


    {% include 'nav.html' %}


    <div class="container">

        <h3>Квест «{{ quiz }}»{% if percent_of_done == 100 %} <i class="bi bi-check-lg"></i>{% endif %}</h3>
        <p>{{ quiz.text }}</p>

        {% if user.is_staff %}

            <p style="margin-top: 1rem">
                <a class="btn btn-danger btn-lg btn-block" href="/admin/app/quiz/{{ quiz.pk }}/change/" role="button"><i class="bi bi-brush"></i> Редактировать квест</a>
                <a class="btn btn-danger btn-lg btn-block" href="/admin/app/quiz/{{ quiz.pk }}/delete/" role="button"><i class="bi bi-trash"></i> Удалить квест</a>
            </p>
        {% else %}


        {% endif %}
    </div>

    <div class="container mb-4" style="margin-bottom: 1rem">
        <div class="card shadow-sm">
            <div class="card-body">
                <p style="margin-bottom: 0.5rem">Прогресс по квесту:</p>

                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ percent_of_done }}%;" aria-valuenow="{{ percent_of_done }}" aria-valuemin="0" aria-valuemax="100">{{ percent_of_done }}%</div>
                </div>

            </div>
        </div>
    </div>


    <div class="container">

        {% if done_questions|length == 0 and not_done_questions|length == 0 %}
            <h2>В квесте нет вопросов.</h2>
        {% endif %}



        {% if not_done_questions|length != 0 %}
        {% if not_done_questions|length == 1 %}
            <h4>Доступный вопрос 👇</h4>
        {% else %}
        <h4>Доступные вопросы 👇</h4>
        {% endif %}
            {% for q in not_done_questions %}
            <div class="card shadow-sm" style="margin-bottom: 1rem">
                <img class="card-img-top" src="{{ q.image_url }}" style="width: 100%; height: 12rem; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ q.title }}</h5>
                    <a href="{% url 'question' quiz.pk q.pk %}" class="btn btn-outline-danger"><i class="bi bi-arrow-right"></i> Перейти к вопросу</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}


        {% if done_questions|length > 0 %}

            {% if not_done_questions|length == 0 %}
                <h4>Вы завершили квест 😍</h4>
            {% else %}
        <br>
                <h4>Вы прошли 😜👍</h4>
            {% endif %}
            {% for q in done_questions %}


        <div class="card shadow-sm" style="margin-bottom: 1rem">
                <img class="card-img-top" src="{{ q.image_url }}" style="width: 100%; height: 12rem; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ q.title }}</h5>
                    <a href="{% url 'question' quiz.pk q.pk %}" class="btn btn-outline-danger"><i class="bi bi-eye-fill"></i> Посмотреть</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}





    </div>


{% endblock %}
