<div class="col-md-3 mb-3">

    <a class="btn btn-outline-secondary mb-3" href="{% url 'index' %}" role="button"><i
            class="bi bi-arrow-90deg-up"></i> На главную</a>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="h5">
                {{ olympiad }}
            </div>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Закроется через <span class="badge badge-info" id="count_close"></span>
            </li>
            <li class="list-group-item">
                1234
            </li>
        </ul>
    </div>
</div>

<script>
    let time = {{olimp_work_to_end_seconds}};
    const countDownEl = document.getElementById("count_close");
    updateCountdown();
    setInterval(updateCountdown, 1000);

    function updateCountdown() {
        if (time != -1) {
            let hours = Math.floor(time / 3600);
            let minutes = Math.floor((time - hours * 3600) / 60);
            let seconds = Math.floor((time - hours * 3600) - minutes * 60);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            countDownEl.innerHTML = `${hours}:${minutes}:${seconds}`;
            time--;
        } else {
            window.location.replace("http://stackoverflow.com");
        }
    }
</script>