{% extends "base.html" %}
{% block title %}{{ task }}{% endblock %}
{% block content %}
{% include 'nav.html' %}

<div class="container">
    <div class="row">
        {% include "sidebar_question.html" %}
        <div class="col-md-9">
            <div class="card mb-3 shadow-sm">
                {% if task.image_url %}
                <img class="card-img-top" src="{{ task.image_url }}" style="object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ task.title }}</h4>
                    <p class="card-text">{{ task.text }}</p>





                    <form action="{% url 'task' olympiad.pk task.pk %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="replyNumber">Ваш ответ:</label>
                            <input type="number" class="form-control" id="replyNumber" rows="3" step="any"
                                name="user_input_number" required
                                   {% if answer %}
                                   value="{{ answer.answer|floatformat }}"
                                    {% endif %}
                            />

                        </div>
                        <button type="submit" class="btn btn-outline-primary">Отправить</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}