{% extends "base.html" %}
{% block title %}{{ task }}{% endblock %}
{% block content %}
{% include 'nav.html' %}

<div class="container">
    <div class="row">
        {% include "sidebar_question2.html" %}
        <div class="col-md-9">
            <div class="card mb-3 shadow-sm">
                {% if task.image_url %}
                <img class="card-img-top" src="{{ task.image_url }}" style="object-fit: cover; max-height: 200px">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ task.title }}</h4>
                    <p class="card-text">{{ task.text }}</p>


                    <form
                            {% if answer.attempt_number != olympiad.number_of_attempts and is_open_task_50_percent_rule %}
                        action="{% url 'task2' olympiad.pk task.pk %}" method="post"
                        {% endif %}
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="replyNumber">Ваш ответ
                                {% if task in answered_tasks and task not in answered_tasks_correct %}
                                <span class="badge badge-danger">неверный</span>
                                {% endif %}

                                {% if task in answered_tasks and task in answered_tasks_correct %}
                                <span class="badge badge-success">верный</span>
                                {% endif %}

                                {% if task not in answered_tasks %}
                                <span class="badge badge-secondary">нет ответа</span>
                                {% endif %}

                            </label>
                            <input type="number" class="form-control" id="replyNumber" rows="3" step="any"
                                name="user_input_number" required
                                   {% if answer %}
                                   value="{{ answer.answer|floatformat }}"
                                    {% endif %}

                                   {% if answer.attempt_number == olympiad.number_of_attempts or not is_open_task_50_percent_rule %}
                        disabled
                        {% endif %}

                            />

                        </div>

<!--                        вывод числа попыток-->

                        <p>Использовано попыток:
                        {% if not answer %}
                        0/{{ olympiad.number_of_attempts }}

                        {% else %}
                        {{answer.attempt_number}}/{{ olympiad.number_of_attempts }}
                        {% endif %}
                        </p>


                        {% if not is_open_task_50_percent_rule %}
                        <p>Нельзя отправить ответ, так как > 50% команд уже решили задание верно</p>
                        {% endif %}

<!--   можно отправить ответ-->
                        {% if answer.attempt_number != olympiad.number_of_attempts and is_open_task_50_percent_rule %}
                        <button type="submit" class="btn btn-outline-primary">Отправить</button>
                        {% endif %}



<!--   нельзя отправить ответ-->
                        {% if answer.attempt_number == olympiad.number_of_attempts or not is_open_task_50_percent_rule %}
                        <button class="btn btn-outline-secondary" disabled>Отправить</button>
                        {% endif %}


                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}